{% load static %}

<div>
	<p>
		Estimado {{auctionr_name}},
		<br>
		Sus muestras han sido agrupadas en {{quantity_of_lot}} lotes.
		Rogamos imprima e identifique correctamente cada una de las muestras, las agrupe en lotes según abajo indicado e imprima la etiqueta de envío:
		<br>
		{{lot_number}} <a style="margin-top: 15px; color: blue;padding-left: 30px;" href="http://127.0.0.1:8000/test_added_by_user_list">http://127.0.0.1:8000/test_added_by_user_list</a>
		<br>
		{% for test in test_obj %}
		 	{{test.auction_test_id}} de {{test.test_requested}} con referencia externa {{test.external_reference}}.
		 {% endfor %}
		 <br>
		 Para cualquier duda no dude en llamarnos o utilizar la función de chat en directo,

	</p>
	

	<p>Mendelbook,</p>
	<p>Fonte dos Ranchos 20,
	<br> Lugo 27004</p>

	<div style="width: 300px; border-top: 5px solid #20a7db;"></div>
	<br>

</div>



