{% load static %}
<div>
	<p>
		Estimado,
			En breve recibirá un lote con las muestras abajo indicadas. Tan pronto como estén los resultados, rogamos los cargue en la página pinchando en los links abajo adjuntos.
			{% for test in test_obj %}
		 		<b>{{test.auction_test_id}}</b> de <b>{{test.test_requested}}</b> con referencia externa <b>{{test.external_reference}}.</b>
		 	{% endfor %}
			Para cualquier duda no dude en llamarnos o utilizar la función de chat en directo,
	
		<p>Mendelbook,</p>
		<p>Fonte dos Ranchos 20,
		<br> Lugo 27004</p>
	</p>
</div>



