{% load static %}

<div>
	<p>
		Estimado  {{user_obj.name}},
		<br>
		Su prueba ha sido cargada en nuestro sistema. Este es el link de identificación de la muestra  {{auction_test_id}}
		<br>
		En breve nos pondremos en contacto con usted para que envíe la muestra a un laboratorio de referencia. Si desea modificar su prueba pinche aquí
	</p>
	<a style="margin-top: 15px; color: blue;padding-left: 30px;" href="http://mendelbook.eu/test_added_by_user_list">http://mendelbook.eu/test_added_by_user_list</a>

	<p>Mendelbook,</p>
	<p>Fonte dos Ranchos 20,
	<br> Lugo 27004</p>

	<div style="width: 300px; border-top: 5px solid #20a7db;"></div>
	<br>

</div>



