{% load static %}
<div>
	<p>
		Estimado  {{lot_obj.fk_user_master.name}},		
			Las siguientes pruebas han sido cargadas en nuestro sistema:
			{% for test in test_obj %}	
 				{{test.auction_test_id}} de {{test.fk_sample_master.pathalogy}}
			{% endfor %}
			En breve nos pondremos en contacto con usted para que envíe las muestra a un laboratorio de referencia.
			Si desea modificar su prueba pinche aquí [link to the test if they want to modify it
			{% comment %} <a href="http://mendelbook.eu/test_added_by_user_list">http://mendelbook.eu/test_added_by_user_list</a> {% endcomment %}
		
		
		<p>Mendelbook,</p>
		<p>Fonte dos Ranchos 20,</p>
		<p>Lugo 27004</p>
	</p>
</div>





