{% if support_tickets %}
	{% for obj in support_tickets %}
		<div class="tab-content">
			<div class="tab-pane show active fade" id="current">
				<div class="exchagene-box" style="height:auto; margin-bottom: 20px;
					background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
					background: #ffff 0% 0% no-repeat padding-box;
					border-radius: 8px;
					box-shadow: inset 0px 3px 6px #4a66ad29, 0px 3px 6px #4a66ad29;
					opacity: 1;
					padding: 30px; border: 1px solid #80808052;
					margin-top: 0px; padding-top: 15px;">
					<div class="row">
						<div class="col-md-6">
							<div class="rate-sec">
								<!-- <p>Rate Offered</p> -->
								<h6 style="margin-top: 0px;font-size: 14px; ">{{obj.support_id}}</h6>
							</div>
						</div>

						<div class="col-md-6" style="font-size: 14px;">
							<div class="trans-sec">
								<span style="float:right; font-weight:600; color: #37406f;">{{obj.issue_date}}</span>
								<!-- {{ test.date|date:'m-d-Y'}} -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="margin-top: 18px; margin-bottom: 5px;">
							<h6 style="font-size: 18px; font-weight:400;">{{obj.subject}}</h6>
						</div>
					</div>
					<div class="row text-right">
						<div class="col-md-12">
							<div class="profile-sec" style="display: inline-flex;">
								<div style="padding-top: 10px;">
									<button type="button" onclick="showChatBox('{{obj.fk_user.name}}', '{{obj.fk_user.email}}', '{{obj.support_id}}', '{{obj.subject}}', '{{obj.issue_date}}')" id="{{test.id}}" style="background-color: #7019f4;color: white;height: 27px;width: 58px; border-radius: 5px;border: none;">
										<i class="fa-solid fa-message"></i>
									</button>
								</div>&emsp;
								<div style="padding-top: 10px;">
									<button type="button" onclick="closeSupport(id)" id="{{test.id}}" style="background-color: red;color: white;height: 27px;width: 58px; border-radius: 5px;border: none;">
										<i class="fa-regular fa-circle-xmark"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>    
		</div>
	{% endfor %}
{% else %}
		<br>
		<h5>No Tickets are there...</h5>
{% endif %}