{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .header-top, .header-bottom{
        background: #693ff5 !important;
    }
    .banner-content font{
        color: black !important;
    }
</style>
<!-- <section class="banner-section bg_img" data-background="{% static 'assets/images/banner/banner-bg-1.png' %}"> -->
<div class="container" style=" height: auto; ">
            <div class="row align-items-center text-center justify-content-between mx-auto landing-container" style="width: 100vh; justify-content: center !important;">
                <div class="col-lg-12 col-xl-12 landing-sub-container"  style="margin-top: 28%; ">
                    <div class="banner-content cl-white">
                        <!-- <h5 class="cate">Next Generation Auction</h5> -->
                        <h4 class="title"  style="color: black;"><span class="" style="color: black; font-size: 50px;">Mendelbook.eu coming soon</h4>
                        <!-- <p  style="color: black;">
                            Online Auction is where everyone goes to shop, sell,and give, while discovering variety and affordability.
                        </p>
                        <a href="https://www.welovedaily.com/" target="_blank" class="custom-button yellow btn-large">Get Started</a> -->
                    </div>
                </div>
                
                <div class="d-none d-lg-block col-lg-6">
                    <div class="banner-thumb-2">
                        {% comment %} <img src="{% static 'assets/images/banner/banner-1.png' %}" alt="banner"> {% endcomment %}
                    </div>
                </div>
            </div>
            <hr style="border: 1px solid #693ff5; width: 190%; margin-left: -35%;">
            <div class="row">
                <div class="col-md-12 mb-3 youtube-player-container" style="margin-left: 5%;">
                    <iframe class="iframe_container" width="1000" height="500" src="https://www.youtube.com/embed/ViNcBQ8cDA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>

        <div class="banner-shape d-none d-lg-block">
            {% comment %} <img src="{% static 'assets/css/img/banner-shape.png' %}" alt="css"> {% endcomment %}
        </div>
    </section>
       
    <!--============= Banner Section Ends Here =============-->

{% comment %} 
    <div class="browse-section ash-bg">
        <!--============= Hightlight Slider Section Starts Here =============-->
        <div class="browse-slider-section mt--140">
            <div class="container">
                <div class="section-header-2 cl-white mb-4">
                    <div class="left">
                        <h6 class="title pl-0 w-100">Feature products</h6>
                    </div>
                    <div class="slider-nav">
                        <a href="#0" class="bro-prev"><i class="flaticon-left-arrow"></i></a>
                        <a href="#0" class="bro-next active"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="m--15">
                    <div class="browse-slider owl-theme owl-carousel">
                        <a href="#0" class="browse-item">
                            <!-- <img src="{% static 'assets/images/auction/01.png" alt="auction"> -->
                            <span class="info" style="font-size: 15px;">Epilepsy</span>
                        </a>
                        <a href="#0" class="browse-item">
                            <!-- <img src="{% static 'assets/images/auction/02.png" alt="auction"> -->
                            <span class="info" style="font-size: 15px;">Liquid Biopsy</span>
                        </a>
                        <a href="#0" class="browse-item">
                            <!-- <img src="{% static 'assets/images/auction/03.png" alt="auction"> -->
                            <span class="info" style="font-size: 15px;"> Oncology</span>
                        </a>
                        <a href="#0" class="browse-item">
                            <!-- <img src="{% static 'assets/images/auction/04.png" alt="auction"> -->
                            <span class="info" style="font-size: 15px;">NGS Panels</span>
                        </a>
                        <a href="#0" class="browse-item">
                            <!-- <img src="{% static 'assets/images/auction/05.png" alt="auction"> -->
                            <span class="info" style="font-size: 15px;">Neuropathies</span>
                        </a>
                        <a href="#0" class="browse-item">
                            <!-- <img src="{% static 'assets/images/auction/06.png" alt="auction"> -->
                            <span class="info" style="font-size: 15px;">Myopathies</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--============= Hightlight Slider Section Ends Here =============-->
        
        <!--============= Car Auction Section Starts Here =============-->
        
        <!--============= Car Auction Section Ends Here =============-->
    </div> {% endcomment %}


    <!--============= Jewelry Auction Section Starts Here =============-->
       <!--============= Jewelry Auction Section Ends Here =============-->


    <!--============= Call In Section Starts Here =============-->
    
    <!--============= Call In Section Ends Here =============-->


    


    <!--============= Popular Auction Section Starts Here =============-->
    
    <!--============= Popular Auction Section Ends Here =============-->


    <!--============= Coins and Bullion Auction Section Starts Here =============-->
    
    <!--============= Coins and Bullion Auction Section Ends Here =============-->


    <!--============= Real Estate Section Starts Here =============-->
    
    <!--============= Real Estate Section Starts Here =============-->


    <!--============= Art Auction Section Starts Here =============-->
    <!--============= Art Auction Section Ends Here =============-->


    <!--============= How Section Starts Here =============-->
        
    {% comment %} <section class="how-section padding-top">
        <div class="container">
            <div class="how-wrapper section-bg">
                <div class="section-header text-lg-left">
                    <h2 class="title">How it works</h2>
                    <p>Easy 3 steps to win</p>
                </div>
                <div class="row justify-content-center mb--40">
                    <div class="col-md-6 col-lg-4">
                        <div class="how-item">
                            <div class="how-thumb">
                                <img src="{% static 'assets/images/how/how1.png' %}" alt="how">
                            </div>
                            <div class="how-content">
                                <h4 class="title">Sign Up</h4>
                                <p>No Credit Card Required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="how-item">
                            <div class="how-thumb">
                                <img src="{% static 'assets/images/how/how2.png' %}" alt="how">
                            </div>
                            <div class="how-content">
                                <h4 class="title">Bid</h4>
                                <p>Bidding is free Only pay if you win</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="how-item">
                            <div class="how-thumb">
                                <img src="{% static 'assets/images/how/how3.png' %}" alt="how">
                            </div>
                            <div class="how-content">
                                <h4 class="title">Win</h4>
                                <p>Fun - Excitement - Great deals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <!--============= How Section Ends Here =============-->


    {% comment %} <!--============= Client Section Starts Here =============-->
     <section class="client-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <h2 class="title">Don’t just take our word for it!</h2>
                <p>Our hard work is paying off. Great reviews from amazing customers.</p>
            </div>
            <div class="m--15">
                <div class="client-slider owl-theme owl-carousel">
                    <div class="client-item">
                        <div class="client-content">
                            <p>I can't stop bidding! It's a great way to spend some time and I want everything on Sbidu.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="{% static 'assets/images/client/client01.png' %}" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Alexis Moore</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-item">
                        <div class="client-content">
                            <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="{% static 'assets/images/client/client02.png' %}" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Darin Griffin</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-item">
                        <div class="client-content">
                            <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
                        </div>
                        <div class="client-author">
                            <div class="thumb">
                                <a href="#0">
                                    <img src="{% static 'assets/images/client/client03.png' %}" alt="client">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#0">Tom Powell</a></h6>
                                <div class="ratings">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    {% endblock %}