
<div class="tab-content" style="overflow-y: scroll; max-height: 785px;">
    {% if test_active_obj %}
        {% for test in test_active_obj %}
            <div class="tab-pane show active fade" id="current">
                <div class="exchagene-box" style="height:auto; margin-bottom: 20px;
                    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
                    background: #ffff 0% 0% no-repeat padding-box;
                    border-radius: 8px;
                    box-shadow: inset 0px 3px 6px #4a66ad29, 0px 3px 6px #4a66ad29;
                    opacity: 1;
                    padding: 30px; border: 1px solid #80808052;
                    margin-top: 0px; padding-top: 15px;">
                
                    <div class="row">

                        <div class="row col-md-12">
                            <div class="col-md-3" style="padding-top: 10px;">
                                <span style="font-weight: 600;margin-left: -14px;">Lot Id</span>
                            </div>
                            <div class="col-md-9" style="margin-top: 18px; margin-bottom: 5px;">
                                <h6 style="font-size: 17px; font-weight:400; margin-left: -15px;">
                                    {%if test.test_lot_id %}{{test.test_lot_id }}{% else %}----{% endif %}
                                </h6>
                            </div>
                        </div> 
                        <!-- <div class="row col-md-12">
                            <div class="col-md-3" style="padding-top: 10px;margin-left: -14px; ">
                                <span style="font-weight: 600;">Gen </span>
                            </div>
                            <div class="col-md-9" style="margin-top: 18px; margin-bottom: 5px;">
                                <h6 style="font-size: 17px; font-weight:400;">
                                    {%if test.temp_gens%}
                                        {{test.temp_gens}}
                                    {% else %}    
                                        ----
                                    {% endif %}    
                                </h6> 
                            </div>
                        </div>    -->
                        
                        <div class="row col-md-12">
                            <div class="col-md-3" style="padding-top: 10px; margin-left: -14px;">
                                <span style="font-weight: 600;">Quantity</span>

                            </div>
                            <div class="col-md-9" style="margin-top: 18px; margin-bottom: 5px;">
                                <h6 style="font-size: 17px; font-weight:400;">
                                    {%if test.test_quantity %}
                                        {{test.test_quantity}} 
                                        &emsp;
                                        <span id="plus_minus_button{{forloop.counter}}" onclick="hideShowBriefPathDetails('brief_pathalogy_info{{forloop.counter}}', 'plus_minus_button{{forloop.counter}}')" style="color: #7019f4; cursor: pointer;">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                        <!-- <button type="button" onclick="hideShowBriefPathDetails('brief_pathalogy_info{{forloop.counter}}')"  style="background-color: #7019f4;color: white;height: 27px;width: 58px; border-radius: 5px;border: none;">
                                            <i class="fa-solid fa-plus"></i>
                                        </button> -->
                                    {% else %} 
                                        ----
                                    {% endif %}    
                                </h6>    
                            </div>
                        </div> 

                        <div id="brief_pathalogy_info{{forloop.counter}}" style="display: none;">
                            {% for brief_obj in test.view_path_brief_list %}
                                <div class="row col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3" style="padding-top: 10px;">
                                        <span style="font-weight: 600;margin-left: -14px;">{{forloop.counter}}) Pathalogy : </span>
                                    </div>
                                    <div class="col-md-8 text-left" style="margin-top: 15px; margin-bottom: 5px; margin-left: -50px; min-width: 75%;">
                                        <h6 style="font-size: 17px; font-weight:400; " class="notranslate">
                                            {{brief_obj.pathalogy}}
                                        </h6>
                                    </div>
                                </div> 
                                <div class="row col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2" style="padding-top: 10px;">
                                        <span style="font-weight: 600;margin-left: -14px;">Gens : </span>
                                    </div>
                                    <div class="col-md-9" style="margin-top: 15px; margin-bottom: 5px;">
                                        <h6 style="font-size: 17px; font-weight:400;" class="notranslate">
                                            {{brief_obj.gens}}
                                        </h6>
                                    </div>
                                </div> 
                                <div class="row col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2" style="padding-top: 10px;">
                                        <span style="font-weight: 600;margin-left: -14px;">Quantity : </span>
                                    </div>
                                    <div class="col-md-9" style="margin-top: 15px; margin-bottom: 5px;">
                                        <h6 style="font-size: 17px; font-weight:400;">
                                            {{brief_obj.quantity}}
                                        </h6>
                                    </div>
                                </div> 
                                <hr style="width: 90%; margin-left: 5%;">
                            {% endfor %}
                        </div>

                        <div class="row col-md-12">
                            <div class="col-md-3" style="padding-top: 10px;margin-left: -13px;">
                                <span style="font-weight: 600;">Date  </span>
                            </div>

                            <div class="col-md-4" style="margin-top: 15px;">
                                <h6 style="font-size: 15px; font-weight: 400; ">{{ test.created_date_time|date:'d-m-Y'}}</h6>
                            </div> 

                        
                            <div class="col-md-5" style="padding-left: 80px; margin-top: 10px;">
                                    
                                    <button type="button" onclick="get_test_id_to_see_all_bids('{{test.id}}')"  style="background-color: #7019f4;color: white;height: 27px;width: 58px; border-radius: 5px;border: none;">
                                    <i class="flaticon-auction"></i>
                                    </button>
                                    {% if test.bid_count %}
                                        <span style="background-color:#ee4730;position: absolute; margin-left: -11px; margin-top: -7px;border-radius:50px; height: 15px; width: 15px;    color: white; font-size: 8px;text-align: center; line-height: 2;font-weight: 800;">{{test.bid_count}}</span>
                                    {% endif %}
                                    </a>
            
                                    <button type="button" data-toggle="modal" data-target="#aman_model" onclick="get_id_accordion('{{test.id}}')"  style="background-color: #7019f4;color: white;height: 27px;width: 58px; border-radius: 5px; border: none; margin-left: 5px; margin-right: 5px;">
                                        <i class="fa fa-eye" ></i> 
                                    </button> 
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h6 style="text-align: center;">No test available</h6>
    {% endif %}    
</div>    


