
    <div class="tab-content" style="overflow-y: scroll; max-height: 785px;">
        {% if Confirm_test_obj %}
            {% for test in Confirm_test_obj %}
                <div class="tab-pane show active fade" id="current">
                    <div class="exchagene-box" style="height:auto; margin-bottom: 20px;
                        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
                        background: #ffff 0% 0% no-repeat padding-box;
                        border-radius: 8px;
                        box-shadow: inset 0px 3px 6px #4a66ad29, 0px 3px 6px #4a66ad29;
                        opacity: 1;
                        padding: 30px; border: 1px solid #80808052;
                        margin-top: 0px; padding-top: 15px;">

                        <div class="row">



                            <div class="row col-md-12">
                                <div class="col-md-3" style="padding-top: 10px;">
                                    <span style="font-weight: 600;margin-left: -14px;"> Lot Id</span>
                                </div>
                                <div class="col-md-2" style="margin-top: 18px; margin-bottom: 5px;padding-left: 0px;">                                                 
                                    {%if test.fk_test_lot.test_lot_id %}                                                      
                                        <h6 style="font-size: 17px; font-weight:400;">{{test.fk_test_lot.test_lot_id}}</h6> 
                                    {% else %}                                                       
                                        <h6 style="font-size: 17px; font-weight:400;">----</h6>
                                    {% endif %}    
                                </div>     
                                
                                <div class="col-md-4" style="padding-top: 10px;padding-left: 60px;">
                                    <span style="font-weight: 600;margin-left: -14px;">Recived Bid</span>
                                </div>

                                     
                                <div class="col-md-1" style="margin-top: 18px; margin-bottom: 5px;padding-left: 20px;">
                                    <h6 style="font-size: 17px; font-weight:400;">{{test.bid_count}}</h6>
                                </div>

                                <div class="col-md-2" style="margin-top: 12px; margin-bottom: 5px;padding-left: 20px;">
                                    <button type="button" data-toggle="modal" data-target="#show_bid_price" onclick="show_bid_price({{test.fk_test_lot.id}})"  style="background-color: #7019f4;color: white;height: 27px;width: 58px; border-radius: 5px;border: none;">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>

                            </div>

                            {% comment %} end lot id div {% endcomment %}


                            <!-- <div class="row col-md-12">
                                
                                <div class="col-md-3" style="padding-top: 10px;">
                                    <span style="font-weight: 600;margin-left: -14px;">Pathalogy</span>
                                </div>

                                <div class="col-md-9" style="margin-top: 18px; margin-bottom: 5px;">
                                    {%if test.temp_string %}
                                        <h6 style="font-size: 17px; font-weight:400;">{{test.temp_string}}</h6>
                                    {% else %}   
                                        <h6 style="font-size: 17px; font-weight:400;">----</h6>
                                    {% endif %}   
                                </div>     
                            </div>

                            {% comment %} end pathalogy div {% endcomment %}


                            <div class="row col-md-12">
                                <div class="col-md-3" style="padding-top: 10px;margin-left: -14px; ">
                                    <span style="font-weight: 600;">Gen </span>
                                </div>
                                <div class="col-md-9" style="margin-top: 18px; margin-bottom: 5px;">
                                
                                    {%if test.fk_test_lot.temp_gens %}    
                                        <h6 style="font-size: 17px; font-weight:400;">{{test.fk_test_lot.temp_gens}}</h6> 
                                    {% else %}    
                                        <h6 style="font-size: 17px; font-weight:400;">----</h6>
                                    {% endif %}    
                                </div>
                            </div> 
                        
                            {% comment %} end gen div {% endcomment %} -->
                    
                            <div class="row col-md-12">
                                <div class="col-md-3" style="padding-top: 10px; margin-left: -14px;">
                                    <span style="font-weight: 600;">Quantity</span>
                                </div>
                                <div class="col-md-3" style="margin-top: 18px; margin-bottom: 5px;">
                                    {%if test.fk_test_lot.test_quantity %}
                                        <h6 style="font-size: 17px; font-weight:400;">{{test.fk_test_lot.test_quantity}}
                                            &emsp;
                                            <span id="plus_minus_button{{forloop.counter}}" onclick="hideShowBriefPathDetails('brief_pathalogy_info{{forloop.counter}}', 'plus_minus_button{{forloop.counter}}')" style="color: #7019f4; cursor: pointer;">
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </h6> 
                                    {% else %}
                                        <h6 style="font-size: 17px; font-weight:400;">----</h6>
                                    {% endif %} 
                                </div>

                                <div class="col-md-4" style="padding-top: 10px;padding-left: 26px;">
                                    <span style="font-weight: 600;margin-left: -14px;">Average Bid Price</span>
                                </div>

                                
                                <div class="col-md-2" style="margin-top: 18px; margin-bottom: 5px;padding-left: 0px;">
                                    <h6 style="font-size: 17px; font-weight:400; margin-left: -15px;">€ {{test.average.bid_Price__avg|floatformat:2}}</h6>
                                </div>

                                
                            </div>

                            {% comment %} end quantity div {% endcomment %}

                            <div id="brief_pathalogy_info{{forloop.counter}}" style="display: none;">
                                {% for brief_obj in test.view_path_brief_list %}
                                    <div class="row col-md-12">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3" style="padding-top: 10px;">
                                            <span style="font-weight: 600;margin-left: -14px;">{{forloop.counter}}) Pathalogy : </span>
                                        </div>
                                        <div class="col-md-8 text-left" style="margin-top: 15px; margin-bottom: 5px; margin-left: -50px; min-width: 75%;">
                                            <h6 style="font-size: 17px; font-weight:400;" class="notranslate">
                                                {{brief_obj.pathalogy}}
                                            </h6>
                                        </div>
                                    </div> 
                                    <div class="row col-md-12">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2" style="padding-top: 10px;">
                                            <span style="font-weight: 600;margin-left: -14px;">Gens : </span>
                                        </div>
                                        <div class="col-md-9" style="margin-top: 15px; margin-bottom: 5px;">
                                            <h6 style="font-size: 17px; font-weight:400;" class="notranslate">
                                                {{brief_obj.gens}}
                                            </h6>
                                        </div>
                                    </div> 
                                    <div class="row col-md-12">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2" style="padding-top: 10px;">
                                            <span style="font-weight: 600;margin-left: -14px;">Quantity : </span>
                                        </div>
                                        <div class="col-md-9" style="margin-top: 15px; margin-bottom: 5px;">
                                            <h6 style="font-size: 17px; font-weight:400;">
                                                {{brief_obj.quantity}}
                                            </h6>
                                        </div>
                                    </div> 
                                    <hr style="width: 90%; margin-left: 5%;">
                                {% endfor %}
                            </div>
                            

                            <div class="row col-md-12">



                                
                            </div>    
                                

                            <div class="row col-md-12">

                                <div class="col-md-3" style="padding-top: 10px; margin-left: -14px;">
                                    <span style="font-weight: 600;">Result Date</span>
                                </div>


                                <div class="col-md-3" style="margin-top: 18px; margin-bottom: 5px;">
                                    {%if test.expect_result_date %}
                                        <h6 style="font-size: 17px; font-weight:400;">{{test.expect_result_date|date:'d-m-Y'}} </h6> 
                                    {% else %}
                                        <h6 style="font-size: 17px; font-weight:400;">----</h6>
                                    {% endif %} 
                                </div>

                                <div class="col-md-3" style="padding-top: 10px;">
                                    <span style="font-weight: 600;">Settled Price</span>
                                </div>
                                

                                <div class="col-md-3" style="margin-top: 18px; margin-bottom: 5px;padding-left: 35px;">
                                    {%if test.bid_Price %}
                                        <h6 style="font-size: 17px; font-weight:400;">€ {{test.bid_Price}}</h6> 
                                    {% else %}
                                        <h6 style="font-size: 17px; font-weight:400;">----</h6>
                                    {% endif %} 
                                    
                                </div>

                                {% comment %} confirm button {% endcomment %}

                                {% comment %} <div class="col-md-6" style="margin-top: 10px;padding-left: 140px;">
                                    
                                    
                                    <span class="badge badge-primary" style="font-size: 13px; padding: 8px 15px 8px 15px; background-color: #7019f4;">
                                        <i class="fas fa-thumbs-up"></i> Confirmed
                                    </span>

    
                                </div>
                                 {% endcomment %}
                            </div>                                       
                        </div>    
                    </div>                       
                </div>             
            {% endfor %}
        {% else %} 
            <h6 style="text-align: center;">No test available</h6>
        {% endif  %}    
    </div> 

